In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('NW.txt')

In [3]:
df

     A    B    C    n
0   15   12   24  400
1    7    8   15  300
2   27   18   21  100
3  360  300  140    0

In [4]:
# new table for saving variations of coefficients (coefficients are in previous table(df))
def Variations(df):
    npy = np.zeros((df.shape[0]-1, df.shape[1]-1))
    df_variations = pd.DataFrame(npy)
    return df_variations

In [5]:
df_variations = Variations(df)

In [6]:
df_variations

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0

# Northwest corner

## 1th step

In [7]:
def NW_1th(df, df2):
    n = 0 # number of row
    m = 0 # number of column
    if df.iloc[0][-1] >= df.iloc[-1][0]:
        df2.iloc[n][m] = df.iloc[-1][0]
        df.iloc[0][-1] -= df.iloc[-1][0]    
        df.iloc[-1][0] -= df.iloc[-1][0] # = 0
        
        m += 1
        
    else:
        df2.iloc[n][m] = df.iloc[0][-1]
        df.iloc[-1][0] -= df.iloc[0][-1]    
        df.iloc[0][-1] -= df.iloc[0][-1] # = 0 
        
        n += 1

    return n, m, df, df2

In [8]:
n, m, df, df_variations = NW_1th(df, df_variations)

In [9]:
df

    A    B    C    n
0  15   12   24   40
1   7    8   15  300
2  27   18   21  100
3   0  300  140    0

In [10]:
df_variations

       0    1    2
0  360.0  0.0  0.0
1    0.0  0.0  0.0
2    0.0  0.0  0.0

## 2th step

In [11]:
def NW_2th(n, m, df, df2):
    # s_n = sum(df.iloc[-1])
    # s_m = sum(df.iloc[:, -1])
    # if s_n==0 or s_m==0:
    #     return n, m, df, df2
        # s_1 = 0
        
    # else: 
    for i in range(100):
        if (df.iloc[-1] == 0).all() or (df.iloc[:, -1] == 0).all():
            break
            
        if df.iloc[n][-1] >= df.iloc[-1][m]:
            df2.iloc[n][m] = df.iloc[-1][m]
            df.iloc[n][-1] -= df.iloc[-1][m]    
            df.iloc[-1][m] -= df.iloc[-1][m] # = 0            
            m += 1
            
            print(df)
            print(df2)
            # n, m, df, df2 = NW_2th(n, m, df, df2)
            
        if df.iloc[n][-1] < df.iloc[-1][m]:
            df2.iloc[n][m] = df.iloc[n][-1]
            df.iloc[-1][m] -= df.iloc[n][-1]    
            df.iloc[n][-1] -= df.iloc[n][-1] # = 0             
            n += 1
            
            print(df)
            print(df2)

    
    return df, df2
    
            # n, m, df, df2 = NW_2th(n, m, df, df2)
        # if n == len
            # s_n = sum(df.iloc[-1])
            # s_m = sum(df.iloc[:, -1])
            # if s_n==0 or s_m==0:
            #     return df, df2

In [12]:
df_final, df_variations_final = NW_2th(n, m, df, df_variations)

    A    B    C    n
0  15   12   24    0
1   7    8   15  300
2  27   18   21  100
3   0  260  140    0
       0     1    2
0  360.0  40.0  0.0
1    0.0   0.0  0.0
2    0.0   0.0  0.0
    A   B    C    n
0  15  12   24    0
1   7   8   15   40
2  27  18   21  100
3   0   0  140    0
       0      1    2
0  360.0   40.0  0.0
1    0.0  260.0  0.0
2    0.0    0.0  0.0
    A   B    C    n
0  15  12   24    0
1   7   8   15    0
2  27  18   21  100
3   0   0  100    0
       0      1     2
0  360.0   40.0   0.0
1    0.0  260.0  40.0
2    0.0    0.0   0.0
    A   B   C  n
0  15  12  24  0
1   7   8  15  0
2  27  18  21  0
3   0   0   0  0
       0      1      2
0  360.0   40.0    0.0
1    0.0  260.0   40.0
2    0.0    0.0  100.0

In [13]:
df_final

    A   B   C  n
0  15  12  24  0
1   7   8  15  0
2  27  18  21  0
3   0   0   0  0

In [14]:
df_variations_final

       0      1      2
0  360.0   40.0    0.0
1    0.0  260.0   40.0
2    0.0    0.0  100.0

## Calculate the objective function

In [15]:
def compute(df, df_variations):
    df = df.iloc[:-1, :-1]
    # print(df)

    result = 0
    for i in range(df.shape[0]):
        for j in range(df.shape[1]):
            result += df.iloc[i][j] * df_variations.iloc[i][j]
            
        

    return result

In [16]:
result = compute(df_final, df_variations_final)

In [19]:
print(result)

10660.0